@import "./mixin.module.scss";

.main {
  background: url("/assets/image/bg-main.jpg") 50% 85%;
  background-size: cover;
  height: 100vh;
  flex-grow: 1;
  flex-direction: column;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  figure {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .imgWrap {
    $size: 10rem;
    width: clamp(8rem, 10vw, $size);
    height: clamp(8rem, 10vw, $size);
    position: relative;
    flex-grow: 1;
  }
  figcaption {
    margin: 1rem 0 2rem 0;
  }
  q {
    font-size: var(--font-title);
    font-weight: 500;
  }
  p {
    line-height: 1.5;
    opacity: 0.9;
    margin-bottom: 3rem;
  }
  button {
    font-size: clamp(1.2rem, 3.5vw, 1.5rem);
    background-color: rgba(255, 255, 255, 0.15);
    border: 0.1rem solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(0.3rem);
    border-radius: 1rem;
    a {
      color: #fff;
      padding: 1.8rem 2.5rem;
    }
  }
}
